<!-- <form action="/cocktails/:id" method="post">

  <label for="name">Enter a name</label>

  <input type="text" name="cocktail[name]" value="">

  <input type="submit">

</form>
 -->


<%= render "form" %>
